.page {
    display: flex;
    font-family: 'Cormorant'/*, 'Arial', 'sans-serif'*/;
    flex-direction: column;
    margin: auto;
    background-color: #FFF4E4;
    min-height: 100vh;
}

.page::-webkit-scrollbar {
    width: 10px;
  }
  
  .page::-webkit-scrollbar-track {
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
  }
  
  .page::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #FFE5B4, #82CAFF);
  }