.object__name {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 250px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

@media screen and (max-width: 1024px) {
    .object__name {
        margin: 10px auto;
        font-size: 18px;
        line-height: 22px;
    }
}