//не правила
.profile
  display: flex
  flex-direction: column
  flex: 1
.profile__nav-list
  @media screen
    @media (max-width: 950px)
      display: inherit
      flex-direction: row-reverse
      margin: 0 auto
    @media (max-width: 750px)
      flex-direction: column
.profile__nav
  display: flex
  flex-direction: row
  margin: 15px 50px 15px
  font-size: 24px
  line-height: 29px
  font-style: italic
  font-weight: 500
  align-items: center
  @media screen
    @media (max-width: 950px)
      flex-direction: column
      height: -webkit-fill-available
      justify-content: space-around
      margin: 15px 30px
  .profile__confirm
    margin-left: auto
    align-items: center
  .profile__user, .profile__exit
    align-self: center
.profile__block
  display: flex
  flex-direction: column
  @media screen
    @media (max-width: 1024px)
      margin: 10px 40px
      font-size: 18px
      line-height: 22px
      font-weight: 400
    @media (max-width: 850px)
      flex-direction: column
      font-size: 18px
      line-height: 22px
      font-weight: 400
.profile__user
  display: flex
  margin-right: 20px
  font-weight: 600
  font-style: normal
  @media screen
    @media (max-width: 850px)
      margin-right: 0

.profile__exit
  display: flex
  text-decoration: none
  color: #000
  @media screen
    @media (max-width: 950px)
      margin-top: 20px
      height: 60px 
    @media (max-width: 850px)
      justify-content: end

.profile__button
  display: flex
  align-items: center
  height: 60px
  padding: 0 5px
  background-color: #FEE0D4
  border-width: 0
  font-size: 24px
  line-height: 29px
  font-style: italic
  cursor: pointer
  text-decoration: none
  font-family: 'Cormorant'
  @media screen
    @media (max-width: 1280px)
      font-size: 18px
      line-height: 22px
    @media (max-width: 950px)
      width: -webkit-fill-available
    @media (max-width: 850px)
      padding: 0 10px
      font-size: 18px
      line-height: 22px


.profile__name
  display: flex
  margin-block-start: 0
  margin-block-end: 0
  font-weight: 600
  font-size: 48px
  line-height: 58px
  margin-right: auto
  @media screen
    @media (max-width: 1024px)
      font-weight: 400
      font-size: 36px
      line-height: 42px
    @media (max-width: 850px)
      font-size: 36px
      line-height: 43px

.profile__object
  align-items: center
  padding: 0 30px
  font-family: Cormorant
  display: flex
  margin-left: auto
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)
  height: 70px
  font-size: 36px
  line-height: 43px
  font-style: italic
  font-weight: 500
  border-radius: 20px
  border: 2px solid black
  background-color: transparent
  cursor: pointer
  @media screen
    @media (max-width: 1280px)
      font-size: 24px
      line-height: 29px
      font-weight: 400
    @media (max-width: 1024px)
      padding: 0 20px
      height: 60px
    @media (max-width: 950px)
      margin-top: 20px
    @media (max-width: 850px)
      padding: 0 10px
      font-size: 24px
      line-height: 29px
    @media (max-width: 750px)
      margin: 20px auto
      font-size: 18px
      line-height: 22px
      font-weight: 400

.profile__main
  display: flex
  text-decoration: none
  color: #000
  margin-left: 60px

.profile__confirm
    font-style: italic
    font-weight: 500
    font-size: 24px 
    //font-family:
    line-height: 36px 
    display: flex
    cursor: pointer
    height: 70px
    margin-right: 20px
    text-decoration: none
    color: black
    @media screen
      @media (max-width: 1280px)
        font-size: 18px
        line-height: 24px
        font-weight: 400

a
  color: black

a:hover, button:hover
  text-decoration: underline

.profile__nav_active
  text-decoration: underline

.profile__home
  display: flex
  text-decoration: none



  @media (max-width: 850px)

    .profile__exit

    .profile__button
      justify-content: center
      padding: 0
      font-size: 18px
      line-height: 22px

    .profile__block h1, .profile__block button
      justify-items: start

    .profile__name
      font-size: 24px
      line-height: 29px
      margin-right: auto
      margin-bottom: 20px

  
@media screen
  @media (max-width: 950px)
    .profile__home, .profile__confirm, .profile__user, .profile__exit
      height: 60px
      align-items: center
    .profile__confirm
      margin: auto
      text-align: center
    .profile__user
      margin-right: 0

.profile__go-back
  font-style: italic
  font-weight: 600
  font-size: 24px
  font-family: 'Cormorant'
  color: #000
  line-height: 29px
  display: flex
  cursor: pointer
  background-color: transparent
  margin-left: 10px
  padding: 0
  border: none