.popup__container_card
  width: 90%
.popup__close 
  top: 0
  right: 0
  &:hover
    opacity: 0.6
    cursor: pointer

.popup__icon
  width: 120px
  height: 120px
  margin: auto
  margin-top: 60px
.popup__title
  display: flex
  font-weight: normal
  font-size: 36px
  line-height: 44px
  color: #000
  text-align: center
  margin-block-start: 0
  margin-block-end: 0
  margin: 10px auto
  align-self: center
  font-style: italic

@media screen
  @media (max-width: 768px)
    .popup__title
      font-size: 18px
      line-height: 22px
    .popup__close
      width: 20px
      top: -30px
      right: 0
    .popup__container
      width: 282px

.add-form__selected
  font-style: italic
  font-size: 12px
  line-height: 16px
  display: flex
  cursor: pointer
  border-radius: 10px
  @media screen
    @media (max-width: 550px)
      margin-top: 10px
      border-radius: 5px

.popup__container__type_modal-info
  width: 280px
  height: 380px

.popup__title_modal-info
  font-size: 24px
  line-height: 29px
  font-weight: 900
  margin: 34px 36px 60px 36px