.object__text-block {
    display: flex;
    flex-direction: column;
    height: 360px;
    margin: auto 50px;
}

@media screen and (max-width: 1240px) {
    .object__text-block {
        height: 550px;
        margin: auto 24px;
    }
}

@media screen and (max-width: 650px) {
    .object__text-block {
        height: 400px;
    }
}