.object__photo {
    width: 270px;
    height: 360px;
    background-size: cover;
    border: 3px solid #9d9d9d;
    margin: auto 50px
}

@media screen and (max-width: 1240px) {
    .object__photo {
        width: 230px;
        height: 310px;
        margin: auto 24px;
    }
}

@media screen and (max-width: 820px) {
    .object__photo {
        margin: auto 22px;
    }
}

@media screen and (max-width: 550px) {
    .object__photo {
        width: 200px;
        height: 260px;
        margin: auto;
    }
}