.main {
    display: flex;
    flex-direction: column;
    min-height: 840px;
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

@media screen and (max-width: 1240px) {
    .main {
        min-height: 696px;
        max-width: 1240px;
    }
}

@media screen and (max-width: 820px) {
    .main {
        display: none;
    }
}