.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000;
    color: #ECE2CF;
    max-width: 1440px;
    width: 100%;
    flex-shrink: 0;
    margin: auto;
}

@media screen and (max-width: 580px) {
    .footer {
        flex-direction: column;
    }
}