.menu {
    margin: -120px auto 0;
    background: url('../../images/back.jpg') no-repeat;
    background-size: cover;
    background-position-x: center;
    width: 100%;
}

.nav {
    margin-top: 150px;
}