%flexCol
  display: flex
  flex-direction: column
%flexRow
  display: flex
  flex-direction: row
.desc
  @extend %flexCol
  max-width: 93%
  margin: 50px auto
  position: relative
  @media screen
    @media (min-width: 1441px)
      max-width: 1340px
    @media (max-width: 850px)
      max-width: 95%
    @media (max-width: 550px)
      max-width: 95%
.desc__block
  @extend %flexRow
  @media screen
    @media (max-width: 550px)
      flex-direction: column
      align-items: center
.desc__image_block
  @extend %flexCol
  margin-right: 40px
  width: 350px
  @media screen
    @media (max-width: 850px)
      margin-right: 20px
      width: 300px
    @media (max-width: 550px)
      margin-right: 0
      width: 260px
.desc__photo
  position: relative
  @extend %flexCol
  @media screen
    @media (max-width: 850px)
      align-items: center
.popup__image
  max-height: 80vh
  margin: auto
  max-width: 80vw
  height: fit-content
  width: fit-content
.desc__photo_m
  position: relative
  @media screen
    @media (max-width: 1440px)
      width: 100%
      height: 425px
    @media (max-width: 850px)
      height: 350px 
    @media (max-width: 550px)
      width: 260px
      height: 335px
.object__arrow
  display: flex
  position: absolute
  width: 20px
  height: 20px
  border-top: 5px solid #9d9d9d
  border-right: 5px solid #9d9d9d
  top: 50%
  transition: opacity 1s linear
  z-index: 1
.object__arrow_type_mini
  width: 10px
  height: 10px
  border-top: 3px solid #9d9d9d
  border-right: 3px solid #9d9d9d
.object__arrow:hover
  opacity: .8
  cursor: pointer
.object__arrow_left
  transform: rotate(-135deg)
  left: 15px
.object__arrow_right 
  transform: rotate(45deg)
  right: 15px
.popup__list 
  position: relative
  display: flex
.desc__photo_mini
  position: relative
  margin-top: 45px
  max-width: 100%
  gap: 10px
  justify-content: space-around
  @extend %flexRow 
.desc__photo_s
  width: 30%
  height: 130px
  @media screen
    @media (max-width: 850px)
      height: 110px 

.desc__list
  @extend %flexCol
  margin-left: 20px
  @media (max-width: 850px)
    margin-left: 0
    margin-top: 15px
  @media (max-width: 550px)
    width: 90%
.desc__title
  font-size: 36px
  line-height: 1.4
  text-transform: capitalize
  font-weight: normal
  margin: 0 0 23px
  @media screen
    @media (max-width: 550px)
      font-size: 28px 
.desc__text
  display: flex
  width: 100%
  font-size: 24px
  line-height: 29px
  font-weight: 600
  font-style: italic
  margin-top: 45px
  margin-bottom: 30px
  @media screen
    @media (max-width: 1440px)
      font-weight: 400
      margin: 0 auto
  @media (max-width: 550px)
      font-size: 18px
      line-height: 21px
      margin-top: 20px
      margin-bottom: 15px